<!DOCTYPE html>
<html>
  <head>
    <title>User Data</title>
<style>
section{
margin: auto;
width: 50%;
}

</style>
  </head>
  <body>
    <header style="background-color: aquamarine; height: 100px;">   
<ul style="display: flex; justify-content: space-between; align-items:center; list-style: none; "><li>Home</li>
<li>About  us </li>
<li>Services</li>
<li>Contact</li>
</ul>

    </header>
    <main> 
        {% block content %}
        {% endblock %}
    </main>

    <footer style="background-color: antiquewhite; height: 100px;"> 
        <h2>Thanking you using our service</h2>
    </footer>
  </body>
</html>